name: Test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test-unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test

  test-check:
    name: runner / EkLine Reviewer (github-check)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          content_dir: |
            ./testdata
            ./testData2
          ek_token: ${{ secrets.ek_token }}
          debug: true

  test-pr-check:
    if: github.event_name == 'pull_request'
    name: runner / EkLine Reviewer (github-pr-check)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          level: warning
          content_dir: |
            ./testdata
            ./testData2
          ek_token: ${{ secrets.ek_token }}

  test-pr-review:
    if: github.event_name == 'pull_request'
    name: runner / EkLine Reviewer (github-pr-review)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: error
          content_dir: |
            ./testdata
            ./testData2
          filter_mode: nofilter
          ek_token: ${{ secrets.ek_token }}
          ignore_rule: "EK00010,EK00003"
          exclude_directories: |
            ./testdata/temp
            ./testData2/draft
          exclude_files: |
            ./testdata/subdir/text.md

  test-openapi:
    if: github.event_name == 'pull_request'
    name: runner / EkLine OpenAPI Reviewer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: error
          openapi_spec: 'testdata/openapi/test.yaml'
          ek_token: ${{ secrets.ek_token }}
          filter_mode: nofilter 
          debug: true

  test-no-issues:
    if: github.event_name == 'pull_request'
    name: runner / EkLine No Issues Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          content_dir: './testdata/another-content.md'
          ek_token: ${{ secrets.ek_token }}
          debug: true